---
Checks:          '-*,clang-analyzer-*,readability-*,performance-*,modernize-*,bugprone-*,cert-,cppcoreguidelines-,portability-*,llvm-*,google-*'
WarningsAsErrors: ''
HeaderFilterRegex: '.'
AnalyzeTemporaryDtors: false
FormatStyle:     file
User:            user
CheckOptions:
  - key:             readability-identifier-naming.ClassMemberPrefix
    value:           'm_'
  - key:             readability-identifier-naming.ConstexprVariablePrefix
    value:           'k'
  - key:             readability-identifier-naming.GlobalVariablePrefix
    value:           'g_'

