[Desktop Entry]
Name=Qt-App
Comment=A qt Application template
GenericName=Qt-App
Exec=/opt/Qt-App/Qt-App
Icon=/opt/Qt-App/app.png
Type=Application
StartupNotify=false
StartupWMClass=Qt-App
Categories=Utility;
