[Desktop Entry]
Version=1.0
Type=Application
Name=Qt-App
GenericName=Application Template
Comment=Small Qt-based demo utility
Exec=AppRun %F
Icon=app
StartupNotify=true
StartupWMClass=Qt-App
Categories=Utility;
Keywords=qt-app;
MimeType=application/x-qtapp-project;
