/******************************************************************************
*                                   QWidget
*****************************************************************************/

QWidget {
    color: #495060;
    font-family: "PingFang SC";
    font-size: 12px;
}

QWidget:focus {
    outline: none;
    /* 去掉得到焦点时的虚线框 */
}

/******************************************************************************
*                        QToolButton，QPushButton
*****************************************************************************/

QToolButton,
QPushButton {
    color: #495060;
    background: white;
    border: 1px solid #dddee1;
    border-radius: 4px;
    min-width: 70px;
    min-height: 24px;
    padding-left: 10px;
    padding-right: 10px;
}

QToolButton:hover,
QPushButton:hover {
    color: #57a3f3;
    border-color: #57a3f3;
    /* background: transparent; */
}

QToolButton:pressed,
QPushButton:pressed {
    color: #2b85e4;
    border-color: #2b85e4;
}

QToolButton:!enabled,
QPushButton:!enabled { 
    background: rgb(215,215,215);
    color: white;
}

/******************************************************************************
*                                   QAbstractItemView
*****************************************************************************/

QAbstractItemView {
    border: 1px solid #dddee1;
    alternate-background-color: rgb(250, 250, 250);
}

QAbstractItemView::item {
    border: 1px solid transparent;
    color: #495060;
    border-bottom: 1px solid #e9eaec;
    height: 24px;
}

QAbstractItemView::item:hover {
    background: #39a3ff;
    color: white;
}

QAbstractItemView::item:selected {
    background: #39a3ff;
    color: white;
}

/* 可选单元格前的 checkbox */
QAbstractItemView::indicator {
    width: 20px;
    height: 20px;
    border-width: 0 0 0 0;
    margin-right: -4px;
}

QAbstractItemView::indicator {
    border-image: url(:/common/icon/common/checkbox-unchecked-insensitive.png) 0 0 0 0 stretch stretch;
}

QAbstractItemView::indicator:checked {
    border-image: url(:/common/icon/common/checkbox-checked-selectionmode.png) 0 0 0 0 stretch stretch;
}

QAbstractItemView::icon {
    width: 20px;
    height: 20px;
}

/******************************************************************************
 *                                   QGroupBox
 *****************************************************************************/
 
QGroupBox {
    border: 1px solid #dddee1;
    border-radius: 4px;
    margin-top: 10px; /* leave space at the top for the title */
	font-size: 14px;
}

QGroupBox::title {
    subcontrol-origin: margin;
    subcontrol-position: top center; /* position at the top center */
    padding: 2px 3px;
    margin-top: 0px;
    /* background: #80848f; */
    /* color: white; */
    /* border-radius: 3px; */
    /* spacing: 5px; */
}

/******************************************************************************
*                                   QStackedWidget
*****************************************************************************/

QStackedWidget {
    background: #eeeeee;
    padding: 0;
    border-bottom-right-radius: 5px;
}

/******************************************************************************
*                                   QHeaderView
*****************************************************************************/

QHeaderView::section {
    background: rgb(54, 62, 78);
    color: white;
    border: 1px soild white;
}

/******************************************************************************
*                                   QTabWidget
*****************************************************************************/

QTabWidget::pane {
    border-top: 2px solid #00C2C7CB;
    position: absolute;
    top: 10px;
    background: #002d2f33;
}

QTabWidget::tab-bar {
    alignment: center;
}

QTabBar::tab {
    background: #00000000;
    border: none;
    border-bottom: 2px solid #3c3e42;
    min-width: 10px;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #686a6e;
}

QTabBar::tab:hover {
    background: #3a3a3f;
}

QTabBar::tab:selected {
    border-color: #3a3a3f;
    color: #dcdde4;
    border-bottom-color: #dcdde4;
}

/******************************************************************************
*                                   QTreeWidget
*****************************************************************************/

QTreeWidget {
    max-width: 250px;
    border-width: 0px;
    font-size: 18px;
    color: white;
    padding: 0;
    background: #818181;
    border-bottom-left-radius: 5px;
}

QTreeWidget::Item {
    border-width: 0px;
    min-height: 45px;
    padding: 0;
}

QTreeWidget::Item:hover {
    background: #0066ff;
    padding: 0;
}

QTreeWidget::item:selected {
    background: #444444;
    color: #0084ff;
}

QTreeWidget::item:selected:active {
    border-width: 0px;
    background: #444444;
    padding: 0;
}

/******************************************************************************
*                                   QListWidget
*****************************************************************************/

QListWidget {
    border: 1px solid #dddee1;
    padding: 0;
    background: white;
    border-bottom-left-radius: 5px;
}

QListWidget::Item {
    border: 1px solid transparent;
    padding: 0;
}

QListWidget::Item:hover {
    background: #39a3ff;
    padding: 0;
    color: white;
}

QListWidget::item:selected {
    background: #39a3ff;
    color: white;
}

QListWidget::item:selected:active {
    border-width: 0px;
    background: #0066ff;
    padding: 0;
    color: white;
}

/******************************************************************************
*                                   QLineEdit
*****************************************************************************/

QLineEdit {
    height: 24px;
    font-size: 12px;
    border: 1px solid #dddee1;
    border-radius: 4px;
    color: #495060;
    background: #fff;
    padding: 0 4px;
}

QLineEdit:focus {
    border-color: #57a3f3;
}

QLineEdit:read-only {
    background: rgb(215, 215, 215);
    color: #495060;
    border-color: #dddee1;
}

QLineEdit:read-only:focus {
    border-color: #dddee1;
}

QLineEdit[echoMode="2"] {
    lineedit-password-character: 9679;
}

/******************************************************************************
*                                   QTextBrowser
*****************************************************************************/

QTextBrowser {
    font-size: 12px;
    border: 1px solid #dddee1;
    border-radius: 4px;
    color: #495060;
    background: #fff;
    padding: 0 4px;
}

QTextBrowser:focus {
    border-color: #57a3f3;
}

/******************************************************************************
*                                   QTextEdit
*****************************************************************************/

QTextEdit {
    font-size: 12px;
    border: 1px solid #dddee1;
    border-radius: 4px;
    color: #495060;
    background: #fff;
    padding: 0 4px;
}

QTextEdit:focus {
    border-color: #57a3f3;
}

QTextEdit:read-only {
    color: #495060;
    border-color: #dddee1;
}

/******************************************************************************
*                                   QCheckBox&QRadioButton
*****************************************************************************/

QCheckBox::indicator,
QRadioButton::indicator {
    subcontrol-origin: border;
    subcontrol-position: left center;

    width: 20px;
    height: 20px;
    border-width: 0 0 0 0;
}

QCheckBox::indicator {
    border-image: url(":/common/icon/common/checkbox-unchecked-insensitive@2.png");
}

QCheckBox::indicator:checked {
    border-image: url(":/common/icon/common/checkbox-checked-selectionmode@2.png");
}

QRadioButton::indicator {
    border-image: url(":/common/icon/common/radio-unchecked-insensitive@2.png");
}

QRadioButton::indicator:checked {
    border-image: url(":/common/icon/common/radio-checked@2.png");
}

/******************************************************************************
*                                   QComboBox
*****************************************************************************/

QComboBox {
    height: 24px;
    min-width: 90px;
    font-size: 12px;
    border: 1px solid #dddee1;
    border-radius: 4px;
    color: #495060;
    background: #fff;
    padding: 0 4px;
    combobox-popup: 0;
}

QComboBox:!editable{
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
    stop: 0 #E1E1E1, stop: 0.4 #DDDDDD, stop: 0.5 #D8D8D8, stop: 1.0 #D3D3D3);
}

QComboBox:!editable:on{
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
    stop: 0 #D3D3D3, stop: 0.4 #D8D8D8, stop: 0.5 #DDDDDD, stop: 1.0 #E1E1E1);
}

QComboBox:focus {
    border-color: #57a3f3;
}

QComboBox:editable {
    background: white;
}

QComboBox::drop-down:editable {
    background: white;
}

QComboBox::drop-down:editable:on {
    background: white;
}

QComboBox:on {
    padding-top: 3px;
    padding-left: 4px;
}

QComboBox::drop-down {
    width: 12px;
    height: 14px;
    margin-right: 2px;
    margin-top: 2px;
    subcontrol-origin: border;
    subcontrol-position: right center;
    border-width: 0 0 0 0;
    border-image: url(:/common/icon/common/combobox-arrow.png);
}

/*QComboBox::drop-down:hover {
border-image: url(:/common/icon/common/arrow-down-prelight.png);
}*/

/******************************************************************************
*                  QSpinBox, QDateEdit, QTimeEdit, QDateTimeEdit
*****************************************************************************/

QAbstractSpinBox {
    height: 24px;
    min-width: 60px;
    font-size: 12px;
    border: 1px solid #dddee1;
    border-radius: 4px;
    color: #495060;
    background: #fff;
    padding: 0 1px;
    qproperty-alignment: AlignCenter;
}

QAbstractSpinBox:focus {
    border-color: #57a3f3;
}

QAbstractSpinBox::down-button,
QAbstractSpinBox::up-button {
    subcontrol-origin: border;
    width: 16px;
    height: 16px;
    border-width: 0 0 0 0;
}

QAbstractSpinBox::down-button {
    subcontrol-position: center left;
    margin-left: 5px;
    border-image: url(:/common/icon/common/minus.png);
}

QAbstractSpinBox::up-button {
    subcontrol-position: center right;
    margin-right: 5px;
    border-image: url(:/common/icon/common/plus.png);
}

/******************************************************************************
*                                   QScrollBar
*****************************************************************************/

QScrollBar:vertical {
    width: 6px;
    background: #e9eaec;
    padding-bottom: 0px;
}

QScrollBar:horizontal {
    height: 6px;
    background: #e9eaec;
    padding-left: 0px;
}

QScrollBar::handle:vertical,
QScrollBar::handle:horizontal {
    background: #AAA;
}

QScrollBar::handle:vertical {
    min-height: 50px;
}

QScrollBar::handle:horizontal {
    min-width: 50px;
}

QScrollBar::handle:vertical:hover,
QScrollBar::handle:horizontal:hover {
    background: #888;
}

QScrollBar::sub-line:vertical,
QScrollBar::add-line:vertical,
QScrollBar::sub-line:horizontal,
QScrollBar::add-line:horizontal {
    width: 0;
    height: 0;
}

/******************************************************************************
*                                QMenuBar QMenu
*****************************************************************************/

QMenu {
    background: white;
    font-size: 12px;
}

QMenu::item {
    background: transparent;
    font-size: 12px; 
    padding: 5px 15px 5px 15px;
    border: 1px solid transparent;
}

QMenu::item:selected {
    background: rgb(56, 156, 255);
    color: white;
}

QMenu::separator {
    height: 2px;
    background: lightblue;
    margin-left: 5px;
    margin-right: 5px;
}

QMenu::icon {
    width: 20px;
    height: 20px;
    padding: 0 5px 0 5px;
}

QMenu::indicator {
    width: 20px;
    height: 20px;
    /* item padding left */
    padding-right: -15px; 
}

QMenu::indicator:exclusive:unchecked,
QMenu::indicator:non-exclusive:unchecked {
    image: url(:/common/icon/common/checkbox-unchecked-insensitive.png);
}

QMenu::indicator:exclusive:checked,
QMenu::indicator:exclusive:checked:selected,
QMenu::indicator:non-exclusive:checked,
QMenu::indicator:non-exclusive:checked:selected {
    image: url(:/common/icon/common/checkbox-checked-selectionmode.png);
}

QMenuBar {
    background: transparent;
    font-size: 14px;
}

QMenuBar::item {
    background: transparent;
    border-width: 1px;
    border-style: none none solid none;
    border-color: black;
}

/******************************************************************************
*                                QProgressBar
*****************************************************************************/

QProgressBar { 
    text-align: center;
    border: 1px solid lightblue;
    border-radius: 5px;
    background: white;
}

QProgressBar::chunk {
    background: rgb(56, 156, 255);
    border-radius: 5px;
}

/******************************************************************************
*                                QSlider
*****************************************************************************/

QSlider:horizontal {
    height: 24px;
}

QSlider::groove:horizontal {
    subcontrol-origin: content;

    /* the groove expands to the size of the slider by default. by giving it a height, it has a fixed size */
    height: 6px;
    border-radius: 3px;
}

QSlider::handle:horizontal {
    background-color: white;
    width: 12px;
    border-radius: 9px;
    border: 3px solid #57a3f3;

    /* handle is placed by default on the contents rect of the groove. Expand outside the groove */
    margin: -6px 0;
}

QSlider::sub-page:horizontal {
    background: #57a3f3;
    border-radius: 3px;
}

QSlider::add-page:horizontal {
    background-color: white;
    border-radius: 3px;
}

QSlider:vertical {
    width: 24px;
}

QSlider::groove:vertical {
    subcontrol-origin: content;

    /* the groove expands to the size of the slider by default. by giving it a height, it has a fixed size */
    width: 6px;
    border-radius: 3px;
}

QSlider::handle:vertical {
    background-color: white;
    height: 12px;
    border-radius: 9px;
    border: 3px solid #57a3f3;

    /* handle is placed by default on the contents rect of the groove. Expand outside the groove */
    margin: 0 -6px;
}

QSlider::sub-page:vertical {
    background: #e9eaec;
    border-radius: 3px;
}

QSlider::add-page:vertical {
    background-color: #57a3f3;
    border-radius: 3px;
}

/******************************************************************************
*                                QToolBox
*****************************************************************************/

QToolBox::tab {
    background: white;
    border-radius: 4px;
    color: #495060;
}

QToolBox::tab:selected {
    color: #2b85e4;
}

QToolBoxButton {
    min-height: 35px;
}
